.homePageWrapper {
    // text-align: center;
    background-color: #f7f7fa;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 80%;
    margin: 0 10%;
    .heroSection {
        height: 100vh;
    }
    .heroImageWrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        padding: 100px;
    }
    .heroSectionWrapper {
        text-align: center;
        margin: 30px 80px;
        h3 {
            margin: 0 auto;
            color: #1F2933;
            font-family: SF Pro Display;
            font-size: 36px;
            font-style: normal;
            font-weight: 700;
            line-height: 120%;
            letter-spacing: 1.08px;
            max-width: 800px;
        }
        p {
            margin: 0 auto;
            color: #1F2933;
            font-family: SF Pro Display;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 120%; /* 24px */
            letter-spacing: 0.6px;
            max-width: 800px;
        }
    } 
    .qnaCryptoWrapper {
        margin-top: 50px;
        .qnaCryptoTitle {
            margin-bottom: 30px;
            h3 {
                font-family: SF Pro Display;
                font-size: 36px;
                font-style: normal;
                font-weight: 700;
                line-height: 120%;
                letter-spacing: 1.08px;
                text-align: center;
            }
        }
        .qnaCryptoBody {
            display: flex;
            justify-content: space-evenly;
            .cardDesignWrap {
                .cardStyle {
                    border-radius: 25px;
                    background: #FFF;
                    padding: 32px 40px;
                    max-width: 590px;
                    margin: 20px;
                    h4 {
                        color: #5A63FF; 
                        font-family: SF Pro Display;
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 120%; /* 24px */
                        letter-spacing: 0.6px;
                        padding-bottom: 16px;
                    }
                    p {
                        color: #444;
                        font-family: SF Pro Display;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 150%; /* 24px */
                        letter-spacing: 0.48px;
                    }
                }
            }
            .qnaSectionImageWrap {
    
            }
        }
    }
    .buyCryptoWrapper {
        margin: 72px 0;
        background-color: #5a63ff;
        .buyCryptoTitle {
            padding-top: 72px;
            margin-bottom: 30px;
            h3 {
                font-family: SF Pro Display;
                font-size: 36px;
                font-style: normal;
                font-weight: 700;
                line-height: 120%;
                letter-spacing: 1.08px;
                text-align: center;
                color: #FFF;
            }
        }
        .buyCryptoBody {
            display: flex;
            justify-content: space-evenly;
            padding-bottom: 72px;
            .cardDesignWrap {
                .cardStyle {
                    border-radius: 35px;
                    border: 1px solid var(--color-white-10, rgba(255, 255, 255, 0.10));
                    background: var(--color-white-5, rgba(255, 255, 255, 0.05));
                    padding: 32px 40px;
                    max-width: 590px;
                    margin: 20px;
                    h4 {
                        color: var(--natural-base-white, #FFF);
                        font-family: SF Pro Display;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 120%; /* 21.6px */
                        letter-spacing: 0.54px;
                    }
                    p {
                        color: var(--natural-base-white, #FFF);
                        font-family: SF Pro Display;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 150%; /* 24px */
                        letter-spacing: 0.48px;
                    }
                }
            }
            .buySectionImageWrap {
    
            }
        }
    }
    .faqWrapper {
        .faqTitle {
            padding-top: 72px;
            margin-bottom: 30px;
            h3 {
                color: var(--primary-text-100, #1F2933);
                text-align: center;
                font-family: SF Pro Display;
                font-size: 36px;
                font-style: normal;
                font-weight: 700;
                line-height: 120%; /* 43.2px */
                letter-spacing: 1.08px;
            }
        }
        .faqBody {
            display: flex;
            justify-content: space-evenly;
            flex-direction: column;
            .cardDesignWrap {
                .cardStyle {
                    border-radius: 25px;
                    background: #FFF;
                    padding: 32px 40px;
                    margin: 20px;
                    h4 {
                        color: var(--primary-text-100, #1F2933);
                        font-family: SF Pro Display;
                        font-size: 24px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 120%; /* 28.8px */
                        letter-spacing: 0.72px;
                    }
                    p {
                        color: var(--primary-text-100, #1F2933);
                        /* SF Pro/Regular/16 */
                        font-family: SF Pro Display;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 150%; /* 24px */
                        letter-spacing: 0.48px;
                    }
                }
            }
        }
    }
}